.app-wrapper {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-areas:
    "h h"
    "n c ";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
}

.app-wrapper-content {
  background-color: #1f8a92;
  grid-area: c;
  padding: 20px 20px;
  border-radius: 10px;
  border: 2px solid #000;
}
.app-wrapper-content img{
  height: 200px;
  width: 860px;
  border-radius: 10px;
}

